
<alchemist-aside>
    <div class="col-md-3 widget-profil">
        <div class="row">

            <!-- Profile Image -->
            <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">


                <!-- style for simple image profile -->
                <div class="circle-img" id="pic_prof_2">
                    <!-- <img src="/assets/images/avatar.svg" alt="avatar of Steven Ayers" /> -->
                </div>

            </div>
            <!-- End Profile Image -->

            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">

                <!-- Profile info -->
                <div id="profile_info">
                    <h1 id="name" class="transition-02"></h1>
                    <h4 class="line"></h4>
                    <h6><span class="fa fa-map-marker"></span>&nbsp;</h6>
                </div>
                <!-- End Profile info -->


                <!-- Profile Description -->
                <div id="profile_desc">
                    <blockquote style="color:#839ccf;border-left-color: transparent;">
                        "Perfection is finally attained not when there is no longer anything to add, but when there is no longer anything to take away."
                        &nbsp;&nbsp; -- Antoine de Saint Exupéry
                    </blockquote>
                </div>
                <!-- End Profile Description -->
                <div id="profile_social">
                    <h6>My Social Profiles</h6>

                    <!-- <app-social-media></app-social-media> -->

                </div>
            </div>

        </div>
    </div>

</alchemist-aside>